body {
    text-align: center;
    background-image: url("./media/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.calculator {
    padding: 15px 15px;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    max-width: 360px;
    min-width: 300px;
    margin: 60px auto;
    margin-top: 150px;
    box-sizing: border-box;
    box-shadow: 0 0 8px grey;
    backdrop-filter: saturate(180%) blur(40px);
}

.display {
    min-height: 100px;
    background-color: lightgrey;
    border: 0;
    box-sizing: border-box;
    padding: 6px 16px;
    border-radius: 0.4rem;
    margin-bottom: 40px;
    box-shadow: 1px 1px 20px lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: end;
    padding-top: 10px;
}

.display p {
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 0px;
    min-height: 2rem;
}

#history {
    font-weight: 500;
    font-size: 1.35rem;
}

.key-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0.4rem;
    row-gap: 8px;
    min-height: 360px;
}

.row {
    display:flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    column-gap: 8px;
}

.calculator button {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0;
    min-height: 40px;
    border-radius: 0.25rem;
}

.operations {
    background-color: pink;
}

.calculator button:hover {
    background-color: white;
    cursor: pointer;
}

.error {
    font-weight: 700; 
    font-size: 1.05rem; 
    color: red;
}
